<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kynda - Organize Your Kindle Clippings!</title>
</head>
<body>
	<h1>Kynda</h1>
	<h3>Use the 'Clippings Upload' section to upload your 'My Clippings' file. The
		Kindle highlights will then be organized by book and extra information, such as the date the text was highlighted, will be removed, leaving you with 
		easier-to-read organized notes.</h3>
</body>
</html>